#    |\__/,|   (`\
#  _.|o o  |_   ) )
#-(((---(((--------     Larcrist

#GET_NEXT_LINE IGNORE
# Coder
.vscode/
src/a.out


# Object files
*.o
*.obj

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
